@import url("https://fonts.googleapis.com/css2?family=Public+Sans:wght@400;500;600;700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

header {
  background-color: #27ae60;
  padding: 13px 22px; }
  header h1 {
    font: 24px/24px "Public Sans";
    font-weight: 400;
    color: #fff; }

#content_container {
  background-color: #6fcf97;
  margin: 0 20px;
  height: 700px;
  display: flex;
  justify-content: center; }
  #content_container #tiles_container {
    width: 450px;
    height: 450px; }
    #content_container #tiles_container #tiles_table {
      margin-bottom: 20px; }
      #content_container #tiles_container #tiles_table .tile button {
        border: none;
        border-radius: 10px;
        display: inline-block;
        height: 100px;
        margin: 5px;
        width: 100px; }
      #content_container #tiles_container #tiles_table .empty {
        background-color: #828282; }
      #content_container #tiles_container #tiles_table .tilled {
        background-color: #219653; }
    #content_container #tiles_container .total_earnings {
      font: 20px/16px "Public Sans";
      font-weight: 700; }

.till_btn {
  background-color: #2F80ED;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-weight: 400;
  font: 24px/24px "Public Sans";
  height: 40px;
  width: 100px; }
